body {
    margin: 0;
    font-family: 'Barlow Condensed', sans-serif;
}
.modal {
    background-image: url("../images/computer-coding.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: darken;
}

.container-header-hero {
    background-color: rgba(0, 0, 0, .5);
    color: white;
    margin: 0;
    text-decoration: none;
}
.header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    letter-spacing: .3em;
    z-index: 4;
    /* background-color: transparent; */
}
.header.fondo {
    background-color: rgba(230, 225, 222, 0.904);
    /* box-shadow: 0px 0px 5px 5px #888888; */
    border-bottom: .2px solid black;
    height: 75px;
}
.header.fondo a {
    color: black;
}
.logo-text.logo-small {
    font-size: 1.5em;
}
.header a {
    color: white;
}


.container-header-hero ul {
    list-style: none;
}
.container-header-hero li {
    display: inline;
    margin-right: 2em;
}
.container-header-hero a {
 text-decoration: none;
 font-weight: bold;
}
.logo {
    border: solid 1px black;
    border-radius: 50%;
    background: black;
    margin: .5em;
    padding: .3em;
}
.logo p {
    color: white;
    margin: 0;
    font-size: 2em;
    font-family: 'Monda', sans-serif;
    overflow: hidden;
    font-weight: bold;
}

.hero h4 {
    margin: 0;
    padding-top: 9em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    letter-spacing: .3em;
}
.hero h1 {
    margin: 0;
    text-align: center;
    padding-bottom: 1.5em;
    font-size: 3.5em;
    line-height: 1.5em;
    letter-spacing: .25em;
    font-weight: bold;
    text-decoration: overline;
}

.hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
}

.hero span {
    color: #ff6600;
    font-weight: bold;
}
.hero-btn {
    color: white;
    text-decoration: none;
    font-size: 2em;
    padding: .5em;
    border-radius: 5px;
    background-color : rgba(166,166,166, 0.9);
}
.hero-btn a {
    color: white;
    text-decoration: none;
}
.btn {
    text-align: center;
    padding: .6em .8em .8em;
    border: none;
    color: white;
    background: lightgray;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: inset 0 -.2em rgba(0, 0, 0, .2);
    outline: 0;
    transition: .2s;
    will-change: transform;
}
.btn.primary {
    background: #ff6600;
}

.btn:active {
    transform: scale(.9);
}
